data/*
!data/download_kitti_360.sh
generated_configs/
outputs/*
!outputs/.gitkeep
!outputs/experiments/
outputs/experiments/*
!outputs/experiments/.gitkeep
!outputs/experiments/*.yaml
__pycache__/
*.py[cod]
.env
